#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;

  font-size: 30px;
}

.length-control {
  display: inline-block;
  margin-left: 10px;
}

.timer {
  border: 5px solid black;
  border-radius: 40px;
  margin: 10px auto;
  width: 220px;
}

.author {
  font-size: 15px;
  margin-top: 15px;
}
